@import "../../node_modules/amsterdam-stijl/dist/scss/ams-colorpalette";

$white: $ams-wit;
$red: $ams-rood;
$blue: $ams-blauw;
$yellow: $ams-geel;

$info: $ams-wit;
$warning: $ams-geel;
$danger: $ams-oranje;
