@import "custom";

.INFO {
  background-color: $info;
}
.WARNING {
  background-color: $warning;
}
.ERROR {
  background-color: $danger;
}

.INFO_TEXT {
}

.WARNING_TEXT {
  color: $warning;
}
.ERROR_TEXT {
  color: $danger;
  font-weight: bold;
}
